.footer {
    max-width: 100%;
    margin: 64px 16px 24px;
}
@media screen and (min-width: 768px) {
    .footer {
        margin: 88px 24px 24px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        margin: 92px 48px 24px;
    }
}